@import "variables";


form {
  mat-form-field {
    width: 100%;
  }

  .d-row {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .action {
    position: fixed;
    top: 65px;
    right: 16px;
    display: flex;
    gap: 5px;
    button {
      font-size: 16px;
      padding: 24px;
      color: #FFFFFF;
      &.discard {
        color: $color-warn;
        border: 1px solid $color-warn;
      }
    }
  }

  .action-bottom {
    button {
      font-size: 16px;
      padding: 24px;
      color: #FFFFFF;
      &.discard {
        color: $color-warn;
        border: 1px solid $color-warn;
      }
    }
  }
}

.d-flex-justify-end {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

@media only screen and (max-width: 768px) {
  form {
    .d-row {
      flex-direction: column;
      gap: 0;
    }
    .action {
      position: fixed;
      bottom: 12px;
      right: 12px;
      top: auto;
    }
  }
}
