@import "variables";

// ## Top Toolbar
mat-toolbar {
  height: $toolbar-height;
  padding: 0 36px;
  background: #8554f1;

  #profile-thumb {
    width: 40px;
    height: 40px;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 2px solid #dcccff;
      object-fit: cover;
    }
  }

}


// ## Brand
.brand {
  margin-left: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;

  img {
    width: 160px;
    max-width: 100%;
    height: auto;
  }
}


.toolbar-action {
  //width: 265px;
  .action-container {
    button {
      mat-icon {
        color: #FFFFFF;
      }
    }
  }
}

.toolbar-date {
  flex: 1;
  display: flex;
  justify-content: center;
  align-content: center;
  .date-container {
    width: 200px;
    text-align: center;
    border: 1px solid #b594ff;
    h4 {
      color: #f7f7f7;
      font-size: 15px;
      font-weight: bold;
    }
  }
}


/*Custom BreakPoint*/
@media only screen and (max-device-width: $max-tablet-width) {
  mat-toolbar {
    padding: 0 16px;
    justify-content: space-between;
  }
  .toolbar-date {
    display: none;
  }

  .brand {
    img {
      width: auto;
      height: 56px;
    }
  }
}

@media only screen and (max-device-width: 599px) {
  mat-toolbar {
    height: 65px;

    .brand-logo {
      width: 70px;
      margin-left: 10px;
    }
  }

  .brand {
    margin-left: 8px;
    img {
      width: 185px;
      height: auto;
    }
  }

}
