
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
// Siyam Rupali
//@import url('https://fonts.maateen.me/siyam-rupali/font.css');

@font-face {
  font-family: 'Calibri';
  font-weight: 300;
  font-style: normal;
  src: url(../assets/fonts/calibri-font-family/calibri-light.ttf);
}

@font-face {
  font-family: 'Calibri';
  font-weight: 400;
  font-style: normal;
  src: url(../assets/fonts/calibri-font-family/calibri-regular.ttf);
}


@font-face {
  font-family: 'Calibri';
  font-weight: 600;
  font-style: normal;
  src: url(../assets/fonts/calibri-font-family/calibri-bold.ttf);
}


@font-face {
  font-family: 'Nirmala';
  font-weight: 400;
  font-style: normal;
  src: url(../assets/fonts/nirmala-font-family/nirmala-regular.ttf);
}

@font-face {
  font-family: 'Nirmala';
  font-weight: 600;
  font-style: normal;
  src: url(../assets/fonts/nirmala-font-family/nirmala-bold.ttf);
}



/**
font-family: 'Nunito Sans', sans-serif;
font-family: 'Poppins', sans-serif;
 */
