// Fonts Family
$font-en-poppins: 'Poppins', sans-serif;
$font-en-nunito: 'Nunito Sans', sans-serif;
$font-en-calibri: "Calibri", sans-serif;
$font-en-nirmala: "Nirmala", sans-serif;
$font-en-primary: $font-en-poppins;


// MAT TOOLBAR, SIDENAV & LIST
$toolbar-height: 60px;

// BREAKPOINTS
$max-tablet-width: 899px;

// COLOR
$color-primary: #ff7542;
$color-secondary: #4b378d;
$color-accent: #1aa4e0;
$color-warn: #d83333;

// Fonts
$font-size-title: 28px;
$font-size-sub-title: 20px;
$font-size-sub-paragraph: 16px;

// Container
$container-max-width: 1440px;
