
<div style="position: relative" class="header-dialog">

  <form [formGroup]="dataForm"
        (ngSubmit)="onSubmit()"
        autocomplete="off">
    <mat-form-field appearance="outline">
      <mat-label>Old Password</mat-label>
      <input type="password" autocomplete="off" formControlName="oldPassword" matInput placeholder="Enter old Password"
             required>
      <mat-error>This field is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>New Password</mat-label>
      <input type="password" autocomplete="new-password" formControlName="password" matInput
             placeholder="Enter new Password" required>
      <mat-error>This field is required</mat-error>
    </mat-form-field>


    <div class="action">
      <button mat-raised-button color="primary" type="submit">Change Password</button>
    </div>
  </form>
</div>


