*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main-container{
  display: flex;
  flex-direction: column;

  .main-container-nav{
    user-select: none;
    // border: 1px solid red;
    // padding: 2px;
background-color: #fff;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    position: sticky;
    top: 0; /* Stick to the top of the viewport */
    z-index: 1000;

    .nav{
      // border: 1px solid black;
      // padding: 0px 0.75rem;
      // display: grid;
  width: 1260px;
      // width:1600px;
  
      .top{
          // border: 1px solid orange;
          padding-top: 0.7rem;
          padding-bottom: 0.4rem;
          // height: auto;
  
          display: flex;
          justify-content: space-between;
          align-items: center;
          
  
          .left{
              flex: 0.77;
               /* Prevents text selection */
              // pointer-events: none;
  
              img{
                  width: 200px;
                  height: 57.41px;
                  cursor: pointer;
              }
              
          }
  
          .right{
              flex: 0.55;
              // max-width: 200px;
              // min-width: 80px;
              display: flex;
              // flex-direction: row-reverse;
              justify-content: space-between;
              align-items: center;
              // gap: 5rem;
              // position: relative;
              // right: 0;
  
              .cart{
                  // cursor: pointer; 
                  flex: 1;
                  display: flex;
                  align-items: flex-end;
                  justify-content: flex-end;
                  flex-direction:column-reverse 
                 
  
              }
              /* Cart badge styling */
  .cart-badge {
    background-color: #CD6727;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    height: 20px;
    // padding: 5px 8px;
    border-radius: 50%; /* Circular badge */
    width: 20px; /* Ensures it stays round for single digits */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
              .account{
                  display: flex;
                  flex: 1;
                  // cursor: pointer;
                  // align-items: center;
                  justify-content: flex-end;

              }
          }
  
          .search-box{
              flex: 2;
              // margin-right: 10vw;
            
               
              display: flex;
              justify-content: center;
              align-items: center;
              max-width: 750px;
  
              input{
                  flex: 1;
                  padding: 12px;
                  border: 1px solid #CD6727;
                  // width: 100%;
                  // height: 42px;
                  // font-size: 15px;
               
                  border-top-left-radius: 0.5rem;
                  border-bottom-left-radius: 0.5rem;
              }
  
              input:focus {
                  // background-color: lightblue; /* Color when focused */
                  border: 1px solid #CD6727;
                  outline: none; /* Remove default focus outline */
                }
              input::placeholder{

                color: #000; /* Change text color */
                font-family: 'Arial', sans-serif; /* Change font family */
                font-size: 14px; /* Change font size */
                // font-style: italic; /* Optional: Add font style */
                opacity: 1; /* Optional: Adjust visibility if needed */
              }
  
              .search-btn{
                  background: #CD6727;
                  height: 41px;
                  width: 46px;
                  padding-left: 11px;
                  padding-right: 11px;
  
                  display: flex;
                  justify-content: center;
                  align-items: center;
  
                  border-top-right-radius: 0.5rem;
                  border-bottom-right-radius: 0.5rem;
              }
          }
      }
      .bottom {
        // border-collapse: collapse;
        border-top: 1px solid #D1D5DB;
        border-bottom: 1px solid #D1D5DB;
        // flex-shrink: 0;
  // overflow-x: auto;
          display: flex; /* Ensures child elements are arranged in a row */
          // flex-wrap: wrap; /* Prevents wrapping to the next line */
          justify-content: flex-start; /* Aligns children to the left */
          align-items: center; /* Aligns items vertically in the center */
          // gap: 10px; /* Optional spacing between children */
        
        .bottom-home{
  
          width: 60px;
          // padding: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;
          height: 41px;
          // box-sizing: border-box;
         
          text-transform: uppercase;
          // width: 20px;
          // background-color: #CD6727;
        //  flex: 1;
          display: flex;
          align-items: center;
          cursor: pointer;
          border-right:1px solid #D1D5DB;
  
        }
  
       
  
  /* Parent container for dropdown */
  .dropdown {
  width: fit-content;
    font-size: 14px;
      position: relative;
      display: inline-block;
      cursor: pointer;
      border-right:1px solid #D1D5DB;
      padding: 10px 15px;
      text-transform: uppercase;
     
    }
    // .category-name{
    //   border-right:1px solid #D1D5DB;
    //   font-size: 14px;
    // }
    .align-this{
      // max-width: fit-content;
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 7px;
  
    }
    
  
  
    
    /* Icon styling */
    .icon {
      fill: #000;
      stroke: #000;
      transition: fill 0.3s ease, stroke 0.3s ease;
    }
    
    /* Hover effect for dropdown button and icon */
    .dropdown:hover .dropdown-button,
    .dropdown:hover .icon, .dropdown:hover {
      color: #CD6727;
      fill: #CD6727;
      stroke: #CD6727;
    }
    
    /* Dropdown content container */
    .dropdown-content {
      display: none; /* Hidden by default */
      position: absolute;
      background-color: #F9FAFB;
      min-width: 200px;
      // box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 1;
      // border-radius: 5px;
      overflow: hidden;
      padding: 15px 7px;
    }
    
    /* Dropdown content items */
    .dropdown-content div {
      padding: 10px 10px;
      font-size: 14px;
      text-align: left;
      color: #000;
      text-transform: capitalize;
      border-bottom: 1px solid #D1D5DB;
      transition: transform 0.3s ease;
      // transition: background-color 0.3s ease, color 0.3s ease;
    }
    
    /* Hover effect for dropdown items */
    .dropdown-content div:hover {
      // background-color: #CD6727;
      color: #CD6727;
      transform: translateX(15px);
    }
    
    /* Show dropdown content on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }
    .dropdown-content div:last-child {
      // color: red; /* This will apply red color to the last <li> in a <ul> */
    border-bottom: none;
    }
  
      }
  
        
       
  }
    
}

.add-card-container{
  display: flex;
  flex-wrap: wrap;
  margin: 0px 34.5px;
  padding: 40px 20px;
  gap: 25px;


  .add-card{
    flex: 1 1 calc(33.333% - 25px); /* Each card takes up 1/3 of the container width minus the gap */
    max-width: calc(33.333% - 25px);
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    
      // font-weight: bold;
    
    flex-direction: column;
    // column-gap: px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a shadow effect */
    .add-name{
      font-weight: 600;
      font-size: 20px;
    }
  
  }

.add-des{
  text-align: center;
  padding: 10px 0px;
  line-height: 1.5;
}
  @media (max-width: 768px) {
    .add-card {
      flex: 1 1 calc(50% - 25px); /* Two cards per row */
      max-width: calc(50% - 25px);
    }
  }
  
  /* Media query for mobile devices */
  @media (max-width: 480px) {
    .add-card {
      flex: 1 1 100%; /* One card per row */
      max-width: 100%;
    }
  }

}

.footer{
  background-color: #000;
  display: flex;
  justify-content: center;
  // align-items: center;
  flex-direction: column;
  padding: 56px 50.5px 80px;
  // margin: 0px 34.5px;
  .f-top{
    margin-bottom: 50px;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    // align-items: ;
    gap: 20px;
    
    .f-top-left{
    
      display: flex;
      align-items:baseline;
      justify-content: center;
      flex-direction: column;
      flex: 1;

      .contact-info{
        color: #fff;
        line-height: 1.5;
      }
    }
    .f-top-middle{
      flex:1;
    }
    .f-top-right{
      flex: 1;
    }
    
  .f-title{
    font-weight: 600;
    color: #af4402;
    margin: 4px 0px 20px;
    background-color: #00000000;
  }


  }



}
u{
  text-decoration: none;
  border-bottom: 1px solid white;
}


}


