<div class="content-area">

  <div class="btn-container">
    @for(dept of depts; let i = $index; track dept ){
    <button [routerLink]="'/'+dept" [class]="selectedDept === dept ? 'btn-dep active' : 'btn-dep'">{{dept}}</button>
    }
  </div>


  <div>
    <h1 class="title-dep">Department of {{selectedDept}}</h1>
  </div>
  
  @if(dept_content.length>0){

  <div class="desk-container">
    <ng-container *ngFor="let desk of getDeskKeys()">
      <div class="desk" [routerLink]="['/desk-history',selectedDept, desk]"
        [class.color]="getLiveState(desk).status==='Occupied'">
        <div class="name">Md. Lecturer Hasan</div>
        <div class="state"><!-- in future state contents will be here ing sha allah--></div>
        <div class="title">DeskId: {{getLiveState(desk).deskID}}</div>

        <!-- when came or gone -->
        @if(getLiveState(desk).status ==='Occupied'){
        <div>Status: <span class="st-p">{{getLiveState(desk).status}}</span></div>
        }@else {
        <div>Status: <span class="st-a">{{getLiveState(desk).status}}</span></div>
        }

        <div class="description">Last Date: {{getLiveState(desk).dateString}} </div>

        <div class="description">
          Last Time: {{getLiveState(desk).time}}
        </div>
        <div class="description">Today, Total Time in Desk : {{(totalTimePerDay(dept_content,desk)/60).toFixed(2)}}
          Hours or {{totalTimePerDay(dept_content,desk).toFixed(0)}} Minutes</div>
      </div>

    </ng-container>

  </div> }


</div>