@import "variables";

.page-info {
  margin: 8px 0;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;

    li {
      display: inline-block;
      margin-right: 10px;
      padding: 0;

      a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        color: #3e77aa;
        font-family: $font-en-primary;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;

        .right-arrow {
          transform: rotate(270deg);
        }

        i {
          color: #000;
          opacity: 0.5;
          font-size: 14px;
        }
      }

      &:last-child {
        margin: 0;

        a {
          color: #464646;

          .right-arrow {
            display: none !important;
          }
        }
      }
    }
  }
}

@media (max-width: 599px) {
  .page-info {
    ul {
      li {
        margin-right: 6px;

        a {
          gap: 6px;
          font-size: 17px;
        }
      }
    }
  }
}
