<div class="container">
  <div class="header">
    <div class="left">
      <h1 class="title">Add User</h1>
      <div class="line"></div>
      <div class="bread">
        <app-breadcrumb [navArray]="navArray"></app-breadcrumb>
      </div>
    </div>
  </div> <!-- END! Header -->


  <div class="content">
    <form #formElement="ngForm" [formGroup]="dataForm" (ngSubmit)="onSubmit()" autocomplete="off">

      <div class="form-img-avatar">
        <img matTooltip="Upload User Image" (click)="profileImagePicker.click()" [src]="imgPlaceHolder" alt="">
      </div>

      <div class="upload-btn">
        <input [hidden]="true" #profileImagePicker type="file" (change)="fileChangeEvent($event)" accept=".jpg, .jpeg, .png" />
      </div>



      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput placeholder="Enter name" required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <div class="d-row">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input noWhiteSpace type="text" formControlName="username" matInput placeholder="Enter username">
          <mat-error>Username minimum value is 5 character</mat-error>
        </mat-form-field>

<!--        <mat-form-field appearance="outline">-->
<!--          <mat-label>Phone no</mat-label>-->
<!--          <input type="tel" formControlName="phoneNo" matInput placeholder="Enter phone no">-->
<!--          <mat-error>This field is required</mat-error>-->
<!--        </mat-form-field>-->
      </div>

      <div class="d-row">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" formControlName="email" matInput placeholder="Enter email">
          <mat-error>This field is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{id ? 'New Password': 'Password'}}</mat-label>
          <input [required]="!id" [type]="showPassword ? 'text' : 'password'" formControlName="password" matInput
            [placeholder]="id ? 'Enter new password': 'Enter password'" autocomplete="new-password">
          <button type="button" mat-icon-button matSuffix (click)="togglePasswordVisibility()">
            <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error>This field is required</mat-error>
        </mat-form-field>
      </div>

      <div class="d-row">
        <mat-form-field appearance="outline">
          <mat-label>User Level</mat-label>
          <input noWhiteSpace type="text" formControlName="userLevel" matInput placeholder="Enter user Level">
          <mat-error>This field is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>User ID</mat-label>
          <input required type="text" formControlName="userId" matInput placeholder="Enter userId">
          <mat-error>This field is required</mat-error>
        </mat-form-field>
      </div>


      <div class="d-row">
<!--        <mat-form-field appearance="outline">-->
<!--          <mat-label>{{id ? 'New Password': 'Password'}}</mat-label>-->
<!--          <input [type]="showPassword ? 'text' : 'password'" formControlName="password" matInput-->
<!--            [placeholder]="id ? 'Enter new password': 'Enter password'" autocomplete="new-password">-->
<!--          <button type="button" mat-icon-button matSuffix (click)="togglePasswordVisibility()">-->
<!--            <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>-->
<!--          </button>-->
<!--          <mat-error>This field is required</mat-error>-->
<!--        </mat-form-field>-->

        <mat-form-field appearance="outline">
          <mat-label>Role</mat-label>
          <mat-select formControlName="role">
            <mat-option *ngFor="let data of adminRoles" [value]="data.value">
              {{ data.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error>This field is required.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Has access</mat-label>
          <mat-select formControlName="hasAccess">
            <mat-option *ngFor="let data of allStatus" [value]="data.value">
              {{ data.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
      </div>

      <div class="action">
        <button (click)="onDiscard()" mat-stroked-button color="warn" type="button" class="discard">
          <mat-icon>arrow_back_ios</mat-icon>
          Discard
        </button>

        @if (!isLoading) {
        <button [disabled]="checkRole!=='super_admin'" mat-raised-button color="accent" type="submit">
          <mat-icon>check</mat-icon>
          {{ id ? 'Update User' : 'Add User' }}
        </button>
        } @else {
        <button class="btn-loader" mat-raised-button type="button" color="accent">
          <div><span class="loader"></span></div>
          <div><span class="txt">{{ id ? 'Update User' : 'Add User' }}</span></div>
        </button>
        }
      </div>

    </form> <!-- END! Form -->

  </div> <!-- END! Content -->
</div>
